---
layout: default_post
---
<div  class="posthead">
<h1>
  {{ page.title }}
</h1>
<h4 class="post-subtitle"> {{ page.subtitle }}</h4>
<span class="post-date">
  <a href="{{ site.github.url }}/">{{ site.title }}</a> in <a href="{{ site.github.url }}/menu/notes.html">Notes</a>
  <br>
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st,
    {% when '2' or '22' %}{{ d }}nd,
    {% when '3' or '23' %}{{ d }}rd,
    {% else %}{{ d }}th,{% endcase %}
  {{ page.date | date: "%Y" }}
</span>
{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}
</div>
{{ content }}
